hdl/work/*
!hdl/work/.gitkeep

hdl/vcd/*
!hdl/vcd/.gitkeep

hdl/gtkwave/*

code/*/obj/*

quartus/.qsys_edit/
quartus/db/
quartus/dse/
quartus/greybox_tmp/
quartus/incremental_db/
quartus/simulation/
quartus/*.qws
quartus/*.summary
quartus/*.smsg
quartus/*.done
quartus/*.cdf
quartus/*.sld
*.bak
*.rpt